In [1]:
from pykrx import stock
import pandas as pd
import datetime

# 1. 종목별 ohlcv 값 가져오기

In [2]:
# today = datetime.datetime.now().strftime("%Y%m%d")
today = "20220819"

In [3]:
# 2022년 8월 17일 코스피 종목별 ohlcv 값 가져오기
kospi_df = stock.get_market_ohlcv(date=today, market="KOSPI")
kospi_df

            시가      고가      저가      종가      거래량         거래대금   등락률
티커
095570    8250    8430    8240    8390   211876   1768705470  3.45
006840   16600   16750   16400   16450     6422    105721200 -0.90
027410    4295    4295    4235    4245    60579    258893680 -0.59
282330  173000  173500  169000  171500    29174   4990237500 -1.72
138930    6810    6860    6780    6850   854678   5828960860  0.29
...        ...     ...     ...     ...      ...          ...   ...
005010    6130    6610    6050    6500  3210272  20393594890  5.69
000540    3510    3550    3500    3515    20997     73758115 -0.71
000547   21950   22800   21850   22100     1269     27749400  1.38
000545    7230    7280    7220    7280      604      4364050 -1.22
003280    1835    1845    1815    1820   193647    354305105 -0.82

[938 rows x 7 columns]

In [4]:
kosdaq_df = stock.get_market_ohlcv(date=today, market="KOSDAQ")
kosdaq_df

           시가     고가     저가     종가     거래량        거래대금   등락률
티커
060310   2900   3000   2880   2885  711816  2079534360 -0.17
054620  11850  11850  11350  11650   48157   555050050 -0.43
265520  18750  19000  18600  18700   85257  1605832650 -0.27
211270  12150  12150  11700  11700  134979  1598189100 -2.90
032790      0      0      0   4075       0           0  0.00
...       ...    ...    ...    ...     ...         ...   ...
024060   6420   6430   6350   6410   79506   508190590  0.00
010240   6970   7070   6900   6940   38389   268246340 -0.43
189980   3495   3515   3425   3435  337288  1165514870 -1.29
037440   9100   9160   8660   8660  938008  8372620670 -4.10
238490   7690   7690   7480   7480    9111    68567370 -2.22

[1578 rows x 7 columns]

# 2. 티커 값에 따른 종목명 확인

In [5]:
stock.get_market_ticker_name("054620")

'APS홀딩스'

In [6]:
kospi_df.reset_index(inplace=True)
kospi_df["종목명"] = kospi_df["티커"].apply(lambda x: stock.get_market_ticker_name(x))
kospi_df

,티커,시가,고가,저가,종가,거래량,거래대금,등락률,종목명
0,095570,8250,8430,8240,8390,211876,1768705470,3.45,AJ네트웍스
1,006840,16600,16750,16400,16450,6422,105721200,-0.90,AK홀딩스
2,027410,4295,4295,4235,4245,60579,258893680,-0.59,BGF
3,282330,173000,173500,169000,171500,29174,4990237500,-1.72,BGF리테일
4,138930,6810,6860,6780,6850,854678,5828960860,0.29,BNK금융지주
...,...,...,...,...,...,...,...,...,...
933,005010,6130,6610,6050,6500,3210272,20393594890,5.69,휴스틸
934,000540,3510,3550,3500,3515,20997,73758115,-0.71,흥국화재
935,000547,21950,22800,21850,22100,1269,27749400,1.38,흥국화재2우B
936,000545,7230,7280,7220,7280,604,4364050,-1.22,흥국화재우
937,003280,1835,1845,1815,1820,193647,354305105,-0.82,흥아해운

In [7]:
kosdaq_df.reset_index(inplace=True)
kosdaq_df["종목명"] = kosdaq_df["티커"].apply(lambda x: stock.get_market_ticker_name(x))
kosdaq_df

          티커     시가     고가     저가     종가     거래량        거래대금   등락률     종목명
0     060310   2900   3000   2880   2885  711816  2079534360 -0.17      3S
1     054620  11850  11850  11350  11650   48157   555050050 -0.43  APS홀딩스
2     265520  18750  19000  18600  18700   85257  1605832650 -0.27   AP시스템
3     211270  12150  12150  11700  11700  134979  1598189100 -2.90    AP위성
4     032790      0      0      0   4075       0           0  0.00    BNGT
...      ...    ...    ...    ...    ...     ...         ...   ...     ...
1573  024060   6420   6430   6350   6410   79506   508190590  0.00    흥구석유
1574  010240   6970   7070   6900   6940   38389   268246340 -0.43      흥국
1575  189980   3495   3515   3425   3435  337288  1165514870 -1.29  흥국에프엔비
1576  037440   9100   9160   8660   8660  938008  8372620670 -4.10      희림
1577  238490   7690   7690   7480   7480    9111    68567370 -2.22      힘스

[1578 rows x 9 columns]

# 3. 등락률 기준 상위 10종목

In [8]:
kospi_df = kospi_df.sort_values(by="등락률", ascending=False)[:10]
kospi_df

,티커,시가,고가,저가,종가,거래량,거래대금,등락률,종목명
246,008110,15400,18750,14850,18750,11525541,199756911200,29.76,대동전자
510,134790,50200,63400,49850,60000,533617,31253348400,19.52,시디즈
152,100840,19250,22700,19000,20850,1880661,40100417500,10.32,SNT에너지
66,092220,2795,3045,2795,2920,30805818,90548924810,8.55,KEC
272,000300,960,1110,960,1050,10073051,10518273527,8.36,대유플러스
919,010660,3450,3700,3330,3460,4933822,17265041925,7.62,화천기계
701,033250,1200,1340,1135,1150,11483023,14338181945,6.48,체시스
773,047050,25350,27050,25150,26750,2813963,74363937650,6.36,포스코인터내셔널
69,033180,1700,1760,1545,1555,13165915,21504790745,6.14,KH 필룩스
933,005010,6130,6610,6050,6500,3210272,20393594890,5.69,휴스틸

# 4. 등락률 10% 이상 종목 추출

In [9]:
kospi_df = kospi_df[kospi_df["등락률"] > 10]
kospi_df

         티커     시가     고가     저가     종가       거래량          거래대금    등락률     종목명
246  008110  15400  18750  14850  18750  11525541  199756911200  29.76    대동전자
510  134790  50200  63400  49850  60000    533617   31253348400  19.52     시디즈
152  100840  19250  22700  19000  20850   1880661   40100417500  10.32  SNT에너지

# 5. 거래대금 1000억 이상 종목 추출

In [10]:
kospi_df = kospi_df[kospi_df["거래대금"] > 100000000000]
kospi_df

         티커     시가     고가     저가     종가       거래량          거래대금    등락률   종목명
246  008110  15400  18750  14850  18750  11525541  199756911200  29.76  대동전자

In [11]:
kosdaq_df = kosdaq_df[(kosdaq_df["거래대금"] > 100000000000) & (kosdaq_df["등락률"] > 0)]
kosdaq_df

,티커,시가,고가,저가,종가,거래량,거래대금,등락률,종목명
341,084650,7180,9290,7000,8900,28165590,245153527810,24.129999,랩지노믹스
569,365340,102500,106600,95000,96300,1046774,105002533800,0.520000,성일하이텍
1056,263050,6860,8270,6750,7620,22257173,171386518250,14.930000,유틸렉스
1461,376180,70400,82300,70400,77100,1612783,125707098300,7.830000,피코그램

# 6. 종목별 펀더멘털 조회

In [12]:
fundamental_df = stock.get_market_fundamental(today)
fundamental_df

          BPS    PER   PBR   EPS   DIV   DPS
티커
095570   8075   4.92  1.04  1707  3.22   270
006840  45961   0.00  0.36     0  1.22   200
027410  16393   6.21  0.26   684  2.59   110
282330  46849  20.07  3.66  8547  1.75  3000
138930  28745   2.93  0.24  2341  8.18   560
...       ...    ...   ...   ...   ...   ...
005010  15984   6.59  0.41   987  2.46   160
000540  10599   4.03  0.33   873  0.00     0
000547      0   0.00  0.00     0  0.00     0
000545      0   0.00  0.00     0  0.00     0
003280    428  15.42  4.25   118  0.00     0

[910 rows x 6 columns]

In [13]:
# 저PBR
fundamental_df = fundamental_df.sort_values(by="PBR", ascending=True)
fundamental_df

          BPS     PER    PBR   EPS    DIV   DPS
티커
009155      0    0.00   0.00     0   2.77  2150
005945      0    0.00   0.00     0  11.00  1100
090355      0    0.00   0.00     0   1.69   280
000325      0    0.00   0.00     0   2.19   455
005387      0    0.00   0.00     0   5.63  5100
...       ...     ...    ...   ...    ...   ...
373220  39831  112.79  11.22  3963   0.00     0
207940  74551  147.64  11.64  5879   0.00     0
005690   1090   82.08  11.97   159   0.00     0
326030   5672   92.87  13.56   828   0.00     0
032350    811    0.00  14.36     0   0.00     0

[910 rows x 6 columns]

# 7. 거래대금 조회

In [20]:
df = stock.get_market_trading_value_by_date("20220815", "20220819", "005930")
df.head()

                   기관합계         기타법인            개인         외국인합계  전체
날짜
2022-08-16   1998182900  10773801100  -85793719600   73021735600   0
2022-08-17 -10587971300 -11434149000   47701220800  -25679100500   0
2022-08-18 -82091760700  -7159021100 -180930930500  270181712300   0
2022-08-19 -20752536900   1214172700   38513419800  -18975055600   0

In [21]:
df = stock.get_market_trading_value_by_investor("20220815", "20220819", "005930")
df.head()

                 매도            매수          순매수
투자자구분
금융투자   285774117500  257403029100 -28371088400
보험       8484852400   17362180600   8877328200
투신      22241976700   26377520100   4135543400
사모       3334420400   59228292900  55893872500
은행       2936830400    1726814500  -1210015900

# 8. 투자자별 순매수 상위종목

In [28]:
# 금융투자 / 보험 / 투신 / 사모 / 은행 / 기타금융 / 연기금 / 기관합계 / 기타법인 / 개인 / 외국인 / 기타외국인 / 전체

df = stock.get_market_net_purchases_of_equities("20220819", "20220819", "KOSDAQ", "연기금")
df[df["순매수거래대금"] > 1000000000]

             종목명  매도거래량   매수거래량  순매수거래량     매도거래대금      매수거래대금     순매수거래대금
티커
090460      비에이치   1222  149590  148368   35482250  4348380600  4312898350
086520      에코프로   1703   24987   23284  198474900  2975422100  2776947200
091990  셀트리온헬스케어   9690   33754   24064  727515800  2539541300  1812025500
278280        천보   1775    8222    6447  436582800  2019865100  1583282300
013030    하이록코리아    317   50498   50181    8201000  1289495500  1281294500
290670    대보마그네틱      0   20403   20403          0  1144374200  1144374200