In [1]:
from pykrx import stock
import pandas as pd
import datetime

# 1. 종목별 ohlcv 값 가져오기

In [25]:
today = datetime.datetime.now().strftime("%Y%m%d")
today

'20220819'

In [26]:
# 2022년 8월 17일 코스피 종목별 ohlcv 값 가져오기
kospi_df = stock.get_market_ohlcv(date=today, market="KOSPI")
kospi_df

            시가      고가      저가      종가      거래량         거래대금   등락률
티커
095570    8250    8430    8240    8390   210949   1760927940  3.45
006840   16600   16750   16400   16450     6422    105721200 -0.90
027410    4295    4295    4235    4245    60540    258727980 -0.59
282330  173000  173500  169000  171500    29157   4987339000 -1.72
138930    6810    6860    6780    6850   853179   5818737180  0.29
...        ...     ...     ...     ...      ...          ...   ...
005010    6130    6610    6050    6500  3183442  20221419840  5.69
000540    3510    3550    3500    3515    20996     73754615 -0.71
000547   21950   22800   21850   22100     1269     27749400  1.38
000545    7230    7280    7220    7280      604      4364050 -1.22
003280    1835    1845    1815    1820   193596    354212535 -0.82

[938 rows x 7 columns]

In [27]:
kosdaq_df = stock.get_market_ohlcv(date=today, market="KOSDAQ")
kosdaq_df

           시가     고가     저가     종가     거래량        거래대금   등락률
티커
060310   2900   3000   2880   2885  705615  2061751570 -0.17
054620  11850  11850  11350  11650   48157   555050050 -0.43
265520  18750  19000  18600  18700   84797  1597262450 -0.27
211270  12150  12150  11700  11700  133254  1578073050 -2.90
032790      0      0      0   4075       0           0  0.00
...       ...    ...    ...    ...     ...         ...   ...
024060   6420   6430   6350   6410   79006   504987080  0.00
010240   6970   7070   6900   6940   38040   265823480 -0.43
189980   3495   3515   3425   3435  334970  1157587055 -1.29
037440   9100   9160   8660   8660  921897  8234202310 -4.10
238490   7690   7690   7480   7480    9081    68342670 -2.22

[1578 rows x 7 columns]

# 2. 티커 값에 따른 종목명 확인

In [28]:
stock.get_market_ticker_name("054620")

'APS홀딩스'

In [29]:
kospi_df.reset_index(inplace=True)
kospi_df["종목명"] = kospi_df["티커"].apply(lambda x: stock.get_market_ticker_name(x))
kospi_df

,티커,시가,고가,저가,종가,거래량,거래대금,등락률,종목명
0,095570,8250,8430,8240,8390,210949,1760927940,3.45,AJ네트웍스
1,006840,16600,16750,16400,16450,6422,105721200,-0.90,AK홀딩스
2,027410,4295,4295,4235,4245,60540,258727980,-0.59,BGF
3,282330,173000,173500,169000,171500,29157,4987339000,-1.72,BGF리테일
4,138930,6810,6860,6780,6850,853179,5818737180,0.29,BNK금융지주
...,...,...,...,...,...,...,...,...,...
933,005010,6130,6610,6050,6500,3183442,20221419840,5.69,휴스틸
934,000540,3510,3550,3500,3515,20996,73754615,-0.71,흥국화재
935,000547,21950,22800,21850,22100,1269,27749400,1.38,흥국화재2우B
936,000545,7230,7280,7220,7280,604,4364050,-1.22,흥국화재우
937,003280,1835,1845,1815,1820,193596,354212535,-0.82,흥아해운

In [30]:
kosdaq_df.reset_index(inplace=True)
kosdaq_df["종목명"] = kosdaq_df["티커"].apply(lambda x: stock.get_market_ticker_name(x))
kosdaq_df

          티커     시가     고가     저가     종가     거래량        거래대금   등락률     종목명
0     060310   2900   3000   2880   2885  705615  2061751570 -0.17      3S
1     054620  11850  11850  11350  11650   48157   555050050 -0.43  APS홀딩스
2     265520  18750  19000  18600  18700   84797  1597262450 -0.27   AP시스템
3     211270  12150  12150  11700  11700  133254  1578073050 -2.90    AP위성
4     032790      0      0      0   4075       0           0  0.00    BNGT
...      ...    ...    ...    ...    ...     ...         ...   ...     ...
1573  024060   6420   6430   6350   6410   79006   504987080  0.00    흥구석유
1574  010240   6970   7070   6900   6940   38040   265823480 -0.43      흥국
1575  189980   3495   3515   3425   3435  334970  1157587055 -1.29  흥국에프엔비
1576  037440   9100   9160   8660   8660  921897  8234202310 -4.10      희림
1577  238490   7690   7690   7480   7480    9081    68342670 -2.22      힘스

[1578 rows x 9 columns]

# 3. 등락률 기준 상위 10종목

In [31]:
kospi_df = kospi_df.sort_values(by="등락률", ascending=False)[:10]
kospi_df

,티커,시가,고가,저가,종가,거래량,거래대금,등락률,종목명
246,008110,15400,18750,14850,18750,11524224,199732217450,29.76,대동전자
510,134790,50200,63400,49850,60000,528315,30943066900,19.52,시디즈
152,100840,19250,22700,19000,20850,1874428,39972534150,10.32,SNT에너지
66,092220,2795,3045,2795,2920,30613829,89988159195,8.55,KEC
272,000300,960,1110,960,1050,10000052,10441260422,8.36,대유플러스
919,010660,3450,3700,3330,3460,4910939,17187067310,7.62,화천기계
701,033250,1200,1340,1135,1150,11417599,14262946055,6.48,체시스
773,047050,25350,27050,25150,26750,2801083,74021698100,6.36,포스코인터내셔널
69,033180,1700,1760,1545,1555,13125036,21441257280,6.14,KH 필룩스
933,005010,6130,6610,6050,6500,3183442,20221419840,5.69,휴스틸

# 4. 등락률 10% 이상 종목 추출

In [32]:
kospi_df = kospi_df[kospi_df["등락률"] > 10]
kospi_df

         티커     시가     고가     저가     종가       거래량          거래대금    등락률     종목명
246  008110  15400  18750  14850  18750  11524224  199732217450  29.76    대동전자
510  134790  50200  63400  49850  60000    528315   30943066900  19.52     시디즈
152  100840  19250  22700  19000  20850   1874428   39972534150  10.32  SNT에너지

# 5. 거래대금 1000억 이상 종목 추출

In [33]:
kospi_df = kospi_df[kospi_df["거래대금"] > 100000000000]
kospi_df

         티커     시가     고가     저가     종가       거래량          거래대금    등락률   종목명
246  008110  15400  18750  14850  18750  11524224  199732217450  29.76  대동전자

In [34]:
kosdaq_df = kosdaq_df[(kosdaq_df["거래대금"] > 100000000000) & (kosdaq_df["등락률"] > 0)]
kosdaq_df

,티커,시가,고가,저가,종가,거래량,거래대금,등락률,종목명
341,084650,7180,9290,7000,8900,27751750,241463273190,24.129999,랩지노믹스
569,365340,102500,106600,95000,96300,1041834,104530996000,0.520000,성일하이텍
1056,263050,6860,8270,6750,7620,22183424,170831577240,14.930000,유틸렉스
1461,376180,70400,82300,70400,77100,1601028,124800594200,7.830000,피코그램