In [1]:
from pykrx import stock
import pandas as pd

# 1. 종목별 ohlcv 값 가져오기

In [2]:
# 2022년 8월 17일 코스피 종목별 ohlcv 값 가져오기
kospi_df = stock.get_market_ohlcv(date="20220817", market="KOSPI")
kospi_df

            시가      고가      저가      종가      거래량         거래대금   등락률
티커
095570    8030    8140    7880    7980   116157    931308940 -1.36
006840   16900   16900   16650   16800     7276    121975900 -0.30
027410    4270    4285    4230    4245   100829    429180765 -0.70
282330  167000  167500  163500  166500    30362   5031153500  0.00
138930    6920    6990    6860    6870  1458178  10064876290 -0.15
...        ...     ...     ...     ...      ...          ...   ...
005010    6150    6700    5620    5890  4551138  27753688520  0.00
000540    3580    3740    3455    3540    43435    154153220 -1.67
000547   22200   22250   22000   22250      114      2519050 -0.67
000545    7230    7320    7230    7240       68       492250 -1.23
003280    1855    1860    1805    1815   293799    537653665 -1.36

[938 rows x 7 columns]

In [3]:
kosdaq_df = stock.get_market_ohlcv(date="20220817", market="KOSDAQ")
kosdaq_df

           시가     고가     저가     종가     거래량        거래대금   등락률
티커
060310   2890   3035   2880   2915  927782  2741123695  0.00
054620  11450  11450  10950  11150   52126   579063700 -1.76
265520  18550  18700  18350  18700   74655  1382473900  1.08
211270  11850  12150  11650  11700  161597  1906501400 -1.27
032790      0      0      0   4075       0           0  0.00
...       ...    ...    ...    ...     ...         ...   ...
024060   6370   6400   6270   6340  129149   819503880  0.48
010240   7140   7190   6970   7030   43746   308720660 -1.82
189980   3450   3480   3365   3455  665916  2278329420 -0.86
037440   9210   9360   9150   9160  789860  7286183990 -1.29
238490   7670   7690   7620   7690   10098    77243310  0.26

[1578 rows x 7 columns]

# 2. 티커 값에 따른 종목명 확인

In [4]:
stock.get_market_ticker_name("054620")

'APS홀딩스'

In [5]:
kospi_df.reset_index(inplace=True)
kospi_df["종목명"] = kospi_df["티커"].apply(lambda x: stock.get_market_ticker_name(x))

In [6]:
kospi_df

,티커,시가,고가,저가,종가,거래량,거래대금,등락률,종목명
0,095570,8030,8140,7880,7980,116157,931308940,-1.36,AJ네트웍스
1,006840,16900,16900,16650,16800,7276,121975900,-0.30,AK홀딩스
2,027410,4270,4285,4230,4245,100829,429180765,-0.70,BGF
3,282330,167000,167500,163500,166500,30362,5031153500,0.00,BGF리테일
4,138930,6920,6990,6860,6870,1458178,10064876290,-0.15,BNK금융지주
...,...,...,...,...,...,...,...,...,...
933,005010,6150,6700,5620,5890,4551138,27753688520,0.00,휴스틸
934,000540,3580,3740,3455,3540,43435,154153220,-1.67,흥국화재
935,000547,22200,22250,22000,22250,114,2519050,-0.67,흥국화재2우B
936,000545,7230,7320,7230,7240,68,492250,-1.23,흥국화재우
937,003280,1855,1860,1805,1815,293799,537653665,-1.36,흥아해운

# 3. 등락률 기준 상위 10종목

In [7]:
kospi_df = kospi_df.sort_values(by="등락률", ascending=False)[:10]
kospi_df

,티커,시가,고가,저가,종가,거래량,거래대금,등락률,종목명
181,002140,5020,6220,5020,5910,33923382,197725415280,18.200001,고려산업
417,006660,10900,13900,10900,12600,1502097,19427992650,16.670000,삼성공조
561,005850,32050,36500,31750,35600,2381615,82586029450,15.210000,에스엘
558,161000,9200,9600,9200,9600,588359,5538560310,7.500000,애경케미칼
30,007340,63800,65500,62100,65000,111114,7157861200,7.260000,DN오토모티브
758,019180,3590,3640,3395,3500,1251661,4410472990,6.870000,티에이치엔
509,026890,8060,8830,8050,8520,2597664,22133527300,5.190000,스틱인베스트먼트
362,138040,28650,30050,28450,29850,170261,5040128700,5.110000,메리츠금융지주
623,008730,25750,27450,25700,27000,152402,4079951500,5.060000,율촌화학
831,105630,17500,18950,17500,18100,1607473,29135812600,4.930000,한세실업

# 4. 등락률 10% 이상 종목 추출

In [8]:
kospi_df = kospi_df[kospi_df["등락률"] > 10]
kospi_df

,티커,시가,고가,저가,종가,거래량,거래대금,등락률,종목명
181,002140,5020,6220,5020,5910,33923382,197725415280,18.200001,고려산업
417,006660,10900,13900,10900,12600,1502097,19427992650,16.670000,삼성공조
561,005850,32050,36500,31750,35600,2381615,82586029450,15.210000,에스엘